
@{
    ViewBag.Title = "DeneyimGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Deneyim Güncelleme Sayfası</h2>
<br />
<form>

    <input type="text" name="ID" class="form-control" placeholder="ID" />

    <input type="text" name="Baslik" class="form-control" placeholder="Başlığı Yazınız" />
    <br />
    <input type="text" name="AltBaslik" class="form-control" placeholder="Alt Başlık" />
    <br />
    <input type="text" name="Tarih" class="form-control" placeholder="Çalışma Tarihi" />
    <br />
    <textarea placeholder="Açıklamanızı Giriniz" name="Aciklama" class="form-control" rows="5"></textarea>
    <br />

    <button class="btn btn-info">Güncelle</button>

</form>



